/* SetGoal.module.css */

.wrapper {
  width: 100vw; /* Corrected from "vp" to "vw" */
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: #f0f2f5;

  padding: 50px 20px;
  box-sizing: border-box;
}
