.transferAndSetGoal {
  display: flex;
  gap: 10px;
}

.transferButton,
.setGoalButton,
.adminPageButton {
  background-color: #4dd0e1;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.transferButton:hover,
.setGoalButton:hover,
.adminPageButton:hover {
  background-color: #26c6da;
}
