.goalPlannerCard {
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.goalPlannerHeading {
    margin-top: 0;
    color: #ffffff;
    font-size: 1.1em;
    margin-bottom: 10px;
    align-self: center;
}

.goalCircleContainer {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goalPercentage {
    font-weight: bold;
    fill: #ffffff; 
    font-size: 1.1em;
}

.goalText {
    color: #dddddd;
    text-align: center;
    font-size: 0.9em;
}

.goalDetail {
    margin-top: 15px;
    align-self: flex-start;
    width: 100%;
}

.goalDetailHeading {
    font-size: 1em;
    margin-bottom: 8px;
    color: #ffffff;
}

.goalDetailItem {
    display: flex;
    justify-content: space-between;
    color: #cccccc;
    margin-bottom: 5px;
    font-size: 0.9em;
}
